.para-text {
    background: #eee;
    margin-top: 20px;
}
.dropdown {
    margin-right: 20px;
    border-radius: .28571429rem;
    width: 180px;
} 
.ui .primary {
    margin-left: 20px;
}
.container {
    margin-top: 50px;
}
.ui .header {
    margin-bottom: 30px;
}